{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">{{ form.title.label }}:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="description">{{ form.description.label }}:</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="imageurl">{{ form.image_url.label }}:</label>
            {{ form.image_url }}
        </div>
        <div class="form-group col-2" style="padding-left: 0px;">
            <label for="price">{{ form.price.label }}:</label>
            {{ form.price }}
        </div>
        <div class="form-group col-2" style="padding-left: 0px;">
            <label for="category">{{ form.category.label }}:</label>
            {{ form.category }}
        </div>
        <button type="submit" class="btn btn-primary">Create Listing</button>
    </form>

{% endblock %}